<div class="container pt-5">
  <div class="row align-items-center just-content-center h-100">
    <div class="col  flex-grow-1">      
      <h1 class="fs-1 text-primary">Log in</h1> 
      <div class="fs-5">
        Connect to your account.
      </div>
    </div>
    <div class="col py-5 col-lg-6">
        <div class="bg-white p-3 rounded shadow-lg">
            <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>                
                <div class="form-floating mb-3">
                    <%= f.email_field :email, class: 'form-control' %> 
                    <%= f.label :email %> 
                </div>
                <div class="form-floating mb-3">
                    <%= f.password_field :password, class: 'form-control' %> 
                    <%= f.label :password %> 
                </div>        
                <%= f.submit "Log in", class: 'btn btn-primary' %>                 
            <% end %>
         </div>
    </div>
  </div>
</div>