


<div class="container">
  <div class="row align-items-center just-content-center">
    <div class="col  flex-grow-1">
      <h1>Sign up</h1> 
    </div>
    <div class="col py-5 col-lg-4">
         <% if @user.errors.any? %> 
            <div class="alert alert-danger"> 
                <%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:
                <ul> 
                    <% @user.errors.full_messages.each do |message| %> 
                        <li><%= message %></li> 
                    <% end %> 
                </ul> 
            </div> 
        <% end %> 
        <%= form_with(model: @user, local: true) do |f| %> 
            <div class="form-floating mb-3">
                <%= f.text_field :name, class: 'form-control' %> 
                <%= f.label :name %> 
            </div>
            <div class="form-floating mb-3">
                <%= f.email_field :email, class: 'form-control' %> 
                <%= f.label :email %> 
            </div>
            <div class="form-floating mb-3">
                <%= f.password_field :password, class: 'form-control' %> 
                <%= f.label :password %> 
            </div>
            <div class="form-floating mb-3">
                <%= f.password_field :password_confirmation, class: 'form-control' %> 
                <%= f.label :password_confirmation %> 
            </div>
            <%= f.submit "Create my account", class: 'btn btn-primary' %> 
            
         <% end %>
    </div>
    
  </div>
  
 
</div>