
<% content_for :mainContent do %>
  <div class="alert alert-warning">
    <h1 class="fs-4"> Confirm</h1>
    <p>Publish with the following contents?</p>
  </div>


  <div class="card mb-4 " >
  <div class="px-3 pt-2">
          <div> <%= current_user.name%></div>
          
      </div>

    
    <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
    <div class="card-body">
      <p class="card-text pb-4">
          <%= @post.content%>
      </p>
      <div class="d-flex justify-content-between">
        <%= form_with(model:@post, url:new_post_path, local:true, method:"get") do |form| %>
          <%= form.hidden_field :image %>
          <%= form.hidden_field :content %>
          <%= form.hidden_field :image_cache %>
          <%= form.submit "Back", name: "back",class: "btn btn-light" %>
        <% end %>
        <%= form_with(model: @post, url: posts_path, local: true) do |form| %>
          <%= form.hidden_field :image %>
          <%= form.hidden_field :content %>
          <%= form.hidden_field :image_cache %>
          <%= form.submit "Publish", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>