<!DOCTYPE html>
<html>
  <head>
    <title>Friendly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="pt-5">
    <div class="d-flex flex-column wrapper">
    
      <%= render 'layouts/header' %>
     
      
      <div class="flex-grow-1 container pt-4" >
      
        <%= yield %>
      </div>
    </div>
  </body>
</html>
